---
import Home from "../components/Home"
---
<html lang="en">
	<head>
		<title>Home</title>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<Home client:only></Home>
	</body>
</html>
